In [ ]:
#methode list
# Methode Disctionary
# Tuple
# Set
# Looping
# Function

In [ ]:
#list recap
contoh_list = ["erwin", 12, 09.0, True, [], {}, (), False]
print(contoh_list[0]) #mulai dari index pertama
print(contoh_list[-1]) #mulai dari index terakhir

erwin
False

In [ ]:
#dictionary
contoh_dict = {2:"ini dua", "erwin":12, 90:False, 3.0:["erwin dwi"]}
print(contoh_dict[2])

ini dua

In [ ]:
#methode list
list_angka = [1,2,3,4,5,6,7]

In [ ]:
#sort mengurutkaan dari awal
list_angka.sort()
list_angka

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list_angka.sort(reverse = True) #sort dari akhir
list_angka

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#menambahkan list APPEND
list_angka.append("Dia")
list_angka

[7, 6, 5, 4, 3, 2, 1, 'Dia']

In [ ]:
#penambahan value di index tertentu INSERT
list_angka.insert(3,"ini insert")
list_angka

[7, 6, 5, 'ini insert', 4, 3, 2, 1, 'Dia']

In [ ]:
# Pop menghilangkan value di index terakhir
list_angka.pop()
list_angka

[7, 6, 5, 'ini insert', 4, 3, 2, 1]

In [ ]:
# Remove menghilangkan value di index tertentu
list_angka.remove(5)
list_angka

[1, 2, 3, 4, 6, 7]

In [ ]:
#remove by index
list_data = [1,2,3,4,5,6,7,7,7]
list_data.remove(7)
list_data

[1, 2, 3, 4, 5, 6, 7, 7]

In [ ]:
list_data = [1,2,3,4,5,6,7,7,7]
list_data

[1, 2, 3, 4, 5, 6, 7, 7, 7]

In [ ]:
#dictionary
contoh_dict = {2:"ini dua", "erwin":12, 90:False, 3.0:["erwin dwi"]}
print(contoh_dict)

{2: 'ini dua', 'erwin': 12, 90: False, 3.0: ['erwin dwi']}

In [ ]:
contoh_dict["negara"] = "indonesia"
contoh_dict

{2: 'ini dua',
 3.0: ['erwin dwi'],
 90: False,
 'erwin': 12,
 'negara': 'indonesia'}

In [ ]:
#dua value
contoh_dict["negara"] =["indonesia"]
contoh_dict

{2: 'ini dua',
 3.0: ['erwin dwi'],
 90: False,
 'erwin': 12,
 'negara': ['indonesia']}

In [ ]:
contoh_dict["negara"].append("italy")
contoh_dict

{2: 'ini dua',
 3.0: ['erwin dwi'],
 90: False,
 'erwin': 12,
 'negara': ['indonesia', 'italy']}

In [ ]:
binatang = {}

In [ ]:
binatang["raja hewan"] = ["macan"]
binatang

{'raja hewan': ['macan']}

In [ ]:
binatang["raja hewan"].append('babi')
binatang

TypeError: ignored

In [ ]:
binatang = ["raja hewan"].extend(('maung','sia'))

In [ ]:
# Tuple
contoh_tuple = (1,2,3,4,5,6)
contoh_tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
contoh_tuple[2] = 5
print(contoh_tuple)

TypeError: ignored

In [ ]:
#set tidak bisa nerima data duplicate
contoh_set = set([1,2,3,4,5,6,7,7,"erwin","dwi",7])
contoh_set

{1, 2, 3, 4, 5, 6, 7, 'dwi', 'erwin'}

In [ ]:
#casting set ke list
contoh_list = list(contoh_set)
contoh_list[-1]

'erwin'

In [ ]:
contoh_list

[1, 2, 3, 4, 5, 6, 7, 'dwi', 'erwin']

In [ ]:
contoh_dict = dict(contoh_list)

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
#operator
a = 10
b = 2
a + b 
a - b
a * b
a / b # float division 1.5
a // b #floaat division 1
a ** b
a % b
c = 196
c ** 0.5

14.0

In [ ]:
# conditional Statement
a<b
a>b
a<=b
a>=b
a==b
a!=b
True and True #True
True and False # Falase
True or True #True
True or False # True
False or False # False

In [ ]:
#if else

if a < b:
  print("a lebih kecil dari b")
elif a > b:
  print("a lebih besar dari b")
else:
  print("a dan b sama")

In [ ]:
# looping
# While
# For

for i in range(10):
  print("mager")

mager
mager
mager
mager
mager
mager
mager
mager
mager
mager

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,20,2): #mulai di 0 sampai 19 + 1 
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(20,0,-1): #mulai dari 20 sampe sebelum 0 dan -1
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#While

a = 10

while a<20:
  print("a masih lebih kecil dari 20: {}".format(a))
  a+=1

a masih lebih kecil dari 20: 10
a masih lebih kecil dari 20: 11
a masih lebih kecil dari 20: 12
a masih lebih kecil dari 20: 13
a masih lebih kecil dari 20: 14
a masih lebih kecil dari 20: 15
a masih lebih kecil dari 20: 16
a masih lebih kecil dari 20: 17
a masih lebih kecil dari 20: 18
a masih lebih kecil dari 20: 19

In [ ]:
while True:  #break
  umur = int(input("masukan umur"))
  if umur >= 17:
    break

masukan umur17

In [ ]:
while True:  #continue
  umur = int(input("masukan umur"))
  if umur == 17:
    continue
  elif umur >= 17:
    break
  print("umur masih dibawah 17th")

masukan umur9
umur masih dibawah 17th
masukan umur17
masukan umur17
masukan umur18

In [ ]:
# looping value dalam list

list_angka = [1,2,3,4,5,6,7,8,9]
for nilai in list_angka:
  if nilai == 7:
    list_angka.remove(7)

In [ ]:
list_angka

[1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
#for else

for i in range(10):
  print(i)
else:
  print("akan di break ketika break tidak tereksekusi")

0
1
2
3
4
5
6
7
8
9
akan di break ketika break tidak tereksekusi

In [ ]:
#for else

for i in range(10):
  print(i)
  if i == 5:
    break
else:
  print("akan di break ketika break tidak tereksekusi")

0
1
2
3
4
5